https://trello.com/c/xvREHYqb/816-wishlist-floating-window
dynamic.liquide
/* wishlist css start */

#NavDrawer  a.iwish-float-icon.wishlist-header-link.site-nav__link.site-nav__link--icon.wkh-button {
    height: 36px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
 .iwish-counter {
    position: absolute;
    background-color: #000;
    color: #fff;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    bottom: -5px;
    left: 10px;
}
a.iwish-float-icon .iw-link__bubble {
    display: none !important;
}
/* wishlist css start  end*/